body {
  margin: 0px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#signin {
  width: 800px;
  margin: auto;
  padding-top: 100px;
  font-family: helvetica;
}

#brand {
  float:left;
  width:400px;
  height:300px;
}

.promo {
  display: inline-block;
  padding: 0;
}

.promo img {
  border: 2px black solid;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
}

#signin .signin_action {
  display:block;
  clear: both;
  text-align: center;
}

.smallmap {
  width: 460px;
  height: 100%;
  display: inline-block;
  left: 300px;
  position: fixed;
  width: 100%;
}

#controls {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  background: #fefefd;
  padding: 25px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  overflow: auto;
}

.control {
  margin-bottom: 20px;
}

#interests {
  vertical-align: top;
  display:inline-block;
}

#interests input {
  padding-left: .3em;
  display:block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#interests input#sensitivity {
  margin-bottom: 0px;
}

#interests img {
  float: left;
  height: 2em;
  margin-right: .3em;
}

.placeheader {
  font-weight: bold;
  display:block;
}

#sizeestimate {
  font-size: 10pt;
  color: #999;
}

#types {
  vertical-align: top;
  display:inline-block;
}

#types input {
  float:left;
  clear:left;
}
#types label {
  float:left;
  display:inline-block;
}

#methods {
  vertical-align: top;
  display:inline-block;
}

#methods ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#methods img {
  float: left;
  height: 1em;
}

